.parsley-errors-list {
  position: absolute;
  right: 0;
  /*top: -5px;*/
  /*bottom:0;*/
  margin: -49px 20px 3px 0;  
  /*margin: 10px 0 3px;*/
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}


textarea ~ ul.parsley-errors-list{
  margin-top: 20px;
}
.parsley-required{
  color: #ff0000;
}

.parsley-custom-error-message{
  color: #ff0000; 
}

.error-message{
  color: #ff0000;
}

.parsley-errors-list li{
  color: #ff0000;
}