body{
    background: #fff;
}

.navbar-fixed-top{
    background: #fff;
    border-bottom: 1px solid #F2F5F6;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}

.container-fluid--content{

    margin-top:65px;

}

.checkbox{
    margin-top: 1rem;
}

.dashboard-page-title{
    padding-top: 0;
    margin-top:0;
}
/*
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    display: none;
}*/
